
# Results of autotools building
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
.deps
Makefile
config.h
config.log
config.status
libtool
stamp-h1
.libs
logger.o
libpfish_syslog.la
pfish_syslog.lo
pfish_logger
pfish_syslog_library_info
library_info.o
